.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.input-error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9rem;
}